# Change all vars before going to production and remove all comments (!)
# Below all environment variables and default values

AIOGRAM_BOT_TOKEN=
AIOGRAM_BACKEND_ADDRESS=http://localhost:8080
REDIS_URI=redis://localhost:6379
MINIO_ENDPOINT=http://localhost:9000
