{
	admin :2019

	metrics {
		per_host
	}
}

(basic-auth) {
	basic_auth {
		admin $2a$14$2zQilpLka2h8Sn1mmOLAAezwDN8Zy8Ta36WECk4qt5MTn3CWksR0m
	}
}

adnova.itqdev.xyz {
	@healthPath path /health /health/*
	handle @healthPath {
		import basic-auth
		reverse_proxy http://backend:8080
	}

	handle_path /static/* {
		reverse_proxy http://backend-staticfiles:80
	}

	reverse_proxy http://backend:8080
}

:8080 {
	reverse_proxy http://backend:8080
}

admin.adnova.itqdev.xyz {
	import basic-auth

	root * /var/www/admin
	file_server
}

loadtest.adnova.itqdev.xyz {
	import basic-auth

	reverse_proxy http://loadtest:5001
}

grafana.adnova.itqdev.xyz {
	reverse_proxy http://grafana:3000
}

pgadmin.adnova.itqdev.xyz {
	reverse_proxy http://pgadmin:80
}

zipkin.adnova.itqdev.xyz {
	import basic-auth

	reverse_proxy http://zipkin:9411
}

prometheus.adnova.itqdev.xyz {
	import basic-auth

	reverse_proxy http://prometheus:9090
}

minio.adnova.itqdev.xyz {
	reverse_proxy http://minio:9000
}
